body {
  background: #222;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: hotpink;
}



h1 {
    font-size: 3.5rem;
    text-align: center;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
}


#MainB {
    display: flex;
    justify-content: center;
}